body{
    background-color: #011b2d;
}
#principal{
    background-image: url("/img/imh.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-color: #011b2d;
}

.color{
    color: #ffffff;
}

footer{
    background-color: #ffffff;
    color: #808080;
    font-size: 14pt;
}

